<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <div class="text-center">
        <form ng-submit="sSubmit()" name="sForm" novalidate>
            <table align="center">
                <tr>
                    <th colspan="3">
                        <div style="font-family: 'Cooper Black' ;font-size: 2em;"  >Sign up</div>
                    </th>
                </tr>


                <tr><td>
                    <span class="la">First Name</span>
                    <input name="fname" ng-model="fname" class="form-control text-center" type="text" placeholder="First name" required>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && !sForm.fname.$valid">First Name is required</span>

                </td></tr>



                <tr><td>
                    <span class="la">Last Name</span>
                    <input name="lname" ng-model="lname" class="form-control text-center" type="text" placeholder="Last name" required>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && !sForm.lname.$valid">Last Name is required</span>

                </td></tr>


                <tr><td>
                    <span class="la">Email</span>
                    <input name="em" ng-model="em" class="form-control text-center" type="email" placeholder="User name or Email" required>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && sForm.em.$error.required">Username or Email is required</span>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && sForm.em.$error.email">invalid email</span>

                </td></tr>



                <tr><td>
                    <span class="la">Password</span>
                    <input name="ps" ng-model="ps" class="form-control  text-center" type="password" placeholder="Password" required>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && !sForm.ps.$valid">Password is required</span>

                </td></tr>

                <tr><td>
                    <span class="la">Confirm Password</span>
                    <input name="cps" ng-model="cps" class="form-control  text-center" type="password" placeholder="Confirm Password" required>
                    <span style="color: red;" ng-show="(myForm.pass.$dirty || ssubmitted) && !sForm.cps.$valid">Confirm Password is required</span>

                </td></tr>

                <tr><td>
                    <input  class="btn btn-dark" type="submit" ng-click="save()" ><BR>



                </td></tr>






                <tr><th>

                    <span>If you have already Register  </span><a href="#!login">click here</a>
                </th></tr>


            </table>






        </form>
    </div>




    <!--<input type="button"  value="save">-->
    <input type="button" ng-click="get()" value="get">
    {{message}}

    <script>
        var app = angular.module("myApp", ['ngStorage']);
        app.controller("myCtrl", function($scope,$localStorage) {
            $scope.fname="";
            $scope.lname="";
            $scope.em="";
            $scope.ps="";
            $scope.save=function() {
                $localStorage.message={
                    "fname":$scope.fname,
                    "lname":$scope.lname,
                    "email":$scope.em,
                    "pass":$scope.ps};

            }

            $scope.get=function() {
                $scope.message=$localStorage.message.email;


            }

        });
    </script>

</div>
</body>
</html>
